<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="relative z-20">
        <%- include('../partials/header_with_path', { path1 : 'ตั้งค่าบัญชี', url_1 : '/profile'}) %>
    </div>
    
    <div class="absolute top-[13%] left-[10%]">
        <p class="text-white text-[40px]">ตั้งค่าบัญชี</p>
        <p class="text-white text-[14px]">สามารถตั้งค่าบัญชีการใช้งานของคุณ ได้ที่นี่</p>
    </div>

    <div class="bg-[#0E1324] w-screen h-screen">
        <button class="absolute top-[30%] right-[25%] text-white bg-[#4BA3E3] p-2 rounded-lg text-[14px] cursor-pointer z-30">
            <i class="fa-regular fa-pen-to-square "></i>
            แก้ไข
        </button>
        <div class="flex m-auto w-[80%] absolute top-[30%] left-[10%] gap-10 items-center text-white">
            <img src="images/user.png" class="border-[20px] border-[#4BA3E3]/25 rounded-full w-[350px] h-[350px]">
            <div class="flex flex-col gap-8">

                <div>
                    <p class="text-[14px]">ชื่อ-สกุล</p>
                    <h1 class="text-[48px] font-bold"><%= user.name %></h1>
                </div>
                
                <div>
                    <p class="text-[14px]">หน้าที่รับผิดชอบ</p>
                    <div class="flex gap-2">
                        <div class="bg-[#69D1BF]/25 w-[180px] h-[30px] rounded-lg border-[2px] border-[#69D1BF] flex items-center gap-2 p-2">
                            <div class="w-[10px] h-[10px] bg-[#69D1BF] rounded-full"></div>
                            <p>เจ้าหน้าที่คลังสินค้า</p>
                        </div>
                        <div class="bg-[#EA7987]/25 w-[180px] h-[30px] rounded-lg border-[2px] border-[#EA7987] flex items-center gap-2 p-2">
                            <div class="w-[10px] h-[10px] bg-[#EA7987] rounded-full"></div>
                            <p>เจ้าหน้าที่ระบบ</p>
                        </div>
                        <div class="bg-[#8A38F5]/25 w-[180px] h-[30px] rounded-lg border-[2px] border-[#8A38F5] flex items-center gap-2 p-2">
                            <div class="w-[10px] h-[10px] bg-[#8A38F5] rounded-full"></div>
                            <p>ผู้จัดการ</p>
                        </div>
                    </div>
                </div>

                <div class="flex gap-5">
                    <div class="flex flex-col">
                        <label for="username" class="text-[14px]">ชื่อผู้ใช้</label>
                        <input class=" border-white border-[2px] bg-transparent rounded-lg w-[240px] h-[60px] p-3" type="text" id="username" name="username" value="<%= user.username %>" disabled>
                    </div>
                    <div class="flex flex-col">
                        <label for="password" class="text-[14px]">รหัสผ่าน</label>
                        <input class=" border-white border-[2px] bg-transparent rounded-lg w-[240px] h-[60px] p-3" type="password" id="password" name="password" value="*****************" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <i class="fa-solid fa-circle-user text-white text-[380px] opacity-[1%] absolute top-[12%] right-[7%]"></i>

</body>
</html>