<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <style>
        /* เปลี่ยนสีพื้นหลัง CSS ให้ตรงกับ Three.js */
        body { margin: 0; overflow: hidden; background-color: #0E1324; }
        canvas { display: block; }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/font.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
</head>
<body>
    
    <div class="relative z-20 pointer-events-none">
        <%- include('../partials/header_with_path', { path1 : "การจัดการผู้ใช้", url_1 : "/user_management"}) %>
    </div>
    <div class="absolute top-[17%] left-[12%]">
        <p class="text-white text-[40px]">การจัดการผู้ใช้</p>
        <p class="text-gray-400 text-[15px] font-light">เพิ่ม / แก้ไข / ลบ / กำหนดสิทธิ์</p>
        <p class="text-gray-400 text-[15px] font-light">รวมถึงควบคุมการเข้าถึงฟังก์ชันต่าง ๆ ของผู้ใช้งาน ได้ที่นี่</p>
        
    </div>

    <img class="fixed w-70 right-10" src="/images/chklist.png" alt="">

    <div class="absolute top-[37%] inset-x-[12%] right-[10%] flex items-center">
        <p class="text-white text-[20px]">ผู้ใช้ทั้งหมด</p>
        <p id="amount_user"></p>
                
        <div class="flex items-center ml-auto gap-5">

            <!-- Search Bar -->
            <div class="relative flex h-14 w-[500px] items-center overflow-hidden rounded-full border border-[#4BA3E3]/20 bg-transparent">
                <input type="text" placeholder="ค้นหา ชื่อ, รหัสพนักงาน" 
                    class="h-full flex-1 bg-transparent px-8 text-white placeholder-gray-500 outline-none"
                />

                <div class="relative h-full w-32 shrink-0">
                    <div class="absolute inset-0 bg-[#1B3563]" style="clip-path: polygon(5% 0%, 60% 0%, 40% 50%, 35% 50%);"></div>
                    <div class="absolute inset-0 bg-[#4BA3E3]/50" style="clip-path: polygon(55% 15%, 35% 50%, 60% 100%, 6% 100%);"></div>
                    <button 
                        class="absolute inset-0 flex items-center justify-end bg-gradient-to-r from-[#3fa9f5] to-[#1c92d2] text-white hover:brightness-110 transition-all"
                        style="clip-path: polygon(35% 50%, 60% 0%, 100% 0%, 100% 100%, 60% 100%);">
                        <i class="fa-solid fa-magnifying-glass text-2xl mr-8"></i>
                    </button>
                </div>
            </div>

            <!-- Button -->
            <button class="text-[white] text-[20px] flex justify-center items-center w-[132px] h-[50px] border border-[#4BA3E3]/50 rounded-[11px] bg-transparent gap-3">
                <i class="fi fi-br-bars-filter mt-2"></i>
                กรอง</button>
            <button data-modal-target="add-user-modal" data-modal-toggle="add-user-modal"
                class="text-[white] text-[20px] flex justify-center items-center w-[132px] h-[50px] rounded-[11px] bg-[#E2A829] gap-3">
                <i class="fa-solid fa-plus" style="color: rgb(255, 255, 255);"></i>
                เพิ่มผู้ใช้
            </button>
        </div>

    </div>

    <!-- User Table -->
     <div class="absolute bottom-[38%] left-[12%]">
        <table class="w-[1147px] text-left overflow-hidden rounded-xl table-fixed">
            <thead class="bg-[#1B3563] text-white text-md">
                <tr class="h-[45px]">
                    <th class="font-normal pl-4 w-[40%] border-r border-white/10">
                        <label class="flex items-center gap-3">
                            <input type="checkbox" class="w-[20px] h-[20px] accent-green-600">
                            <span>ชื่อผู้ใช้งาน</span>
                        </label>
                    </th>
                    <th class="font-normal pl-4 w-[40%] border-r border-white/10">บทบาท</th>
                    <th class="font-normal pl-4 w-[20%]">จัดการผู้ใช้</th>
                </tr>
            </thead>
            <tbody class="text-white text-md bg-[#4BA3E3]/20">
                <tr class="border-t border-white/5 hover:bg-white/5">
                    <!-- Username -->
                    <td class="p-4 flex items-center gap-5 border-r border-white/10">
                        <input type="checkbox" class="w-[20px] h-[20px] accent-green-600">
                        <img src="/images/user.png" class="w-10 h-10 rounded-full">
                            อดัม ราชาเทพ
                    </td>
                    <!-- Role -->
                    <td class="border-r border-white/10">
                    </td>
                    <!-- Manage User -->
                    <td>
                        <div class="flex justify-center gap-5">
                            <div class="flex justify-center items-center gap-2 w-[75px] bg-[#4BA3E3] rounded-lg p-1.5">
                                <i class="fa-regular fa-pen-to-square" style="color: rgb(255, 255, 255);"></i>
                                <button>แก้ไข</button>
                            </div>
                            <div class="flex justify-center items-center gap-2 w-[75px] bg-[#FF0000] rounded-lg">
                                <i class="fa-solid fa-trash" style="color: rgb(255, 255, 255);"></i>
                                <button>ลบ</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>


    <div id="add-user-modal" tabindex="-1" 
        class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black/50">

        <div class="flex flex-col bg-white rounded-xl shadow-lg w-[720px] h-[570px] p-6">
            
            <!-- Header -->
            <div class="flex justify-between">
                <p class="text-md font-normal text-[#9E9E9E] ml-5 mt-3">แก้ไขข้อมูล</p>
                <button data-modal-hide="add-user-modal" class="mr-3">
                        <i class="fa-solid fa-xmark text-2xl" style="color: #9E9E9E;"></i>
                </button>
            </div>
            <h1 class="text-[36px] ml-5">เพิ่มผู้ใช้งาน</h1>

            <!-- Body -->
            <div class="flex gap-10 ml-5 mt-8">
                <img class="w-[35%]" src="/images/user.png" alt="">
                <div class="flex flex-col w-[50%] ml-8 pt-3">
                    <span>
                        <label for="username" class="text-[16px] text-[#9E9E9E]">ชื่อผู้ใช้</label>
                        <input type="text" id="username" name="username" class="bg-[#F5F5F5] border-b-2 border-[#1B3563] h-[40px] outline-0 p-3 w-[100%] text-[#1B3563] mt-1">
                    </span>
                    <label for="user_role" class="text-[16px] text-[#9E9E9E] mt-10">บทบาท</label>
                    <div id="user_role">
                        <button class="text-[#4BA3E3] text-lg border border-dashed border-[#4BA3E3] border-1 rounded-lg pl-3 pr-3 mt-2 ml-2">
                            <i class="fa-solid fa-plus" style="color:#4BA3E3;"></i>
                            เพิ่มบทบาท
                        </button>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="w-[100%] flex justify-end pt-5 gap-5 mt-auto mb-3 pr-3">
                <a href="" class="px-[32px] py-[12px] bg-[#1B3563] rounded-[8px] text-white">ยืนยันการรับเข้า</a>
                <a href="" class="px-[32px] py-[12px] bg-[#F00] rounded-[8px] text-white">ยกเลิก</a>
            </div>
        </div>
    </div>
</body>
</html>