<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
	<script src="/js/tailwindConfig.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="min-h-screen bg-[url('/images/warehouse_login.jpg')] bg-cover bg-center bg-no-repeat flex flex-col items-center justify-center">
        <!-- bg-color -->
        <div class="absolute inset-0 bg-[#0E1324]/75"></div>

        <div class="w-[450px] h-[500px] backdrop-blur-sm bg-gradient-to-b from-[#0E1324] to-[#36498A]/0 rounded-[43px] flex flex-col items-center justify-around z-30 pb-2">
            <!-- logo -->
            <div class="text-white font-bold text-[12px] h-10 mb-4 mt-5">
                <div class="w-[10px] h-[10px] bg-[#ECC164] rounded-[5px] rounded-tr-[0px] mb-1"></div>
                <a href="/">
                    <p class="leading-none text-[20px]">IT CORE</p>
                    <p class="leading-none text-[20px]">STORAGE</p>
                </a>
            </div>

            <% if (error) { %>
            <script>
                alert("<%= error %>");
            </script>
            <% } %>

            <p class="italic text-[16px] text-white">ระบบบริหารจัดการ และควบคุม<span class="text-[#E2A829]">คลังสินค้า</span></p>

            <form action="/login" method="POST" class="flex flex-col items-center gap-10">

                <div class="flex flex-col gap-10">
                    <div>
                        <label class="text-[14px] text-white">ชื่อผู้ใช้</label>
                        <div class="border-[#C6C6C6] border-[1px] w-[350px] h-[50px] rounded-[15px] flex items-center pl-5 gap-3">
                            <i class="fa-solid fa-circle-user text-white"></i>
                            <input type="text" name="username"
                                placeholder="กรอกชื่อผู้ใช้"
                                required
                                class="bg-transparent outline-0 text-white w-[90%]">
                        </div>
                    </div>

                    <div>
                        <label class="text-[14px] text-white">รหัสผ่าน</label>
                        <div class="border-[#C6C6C6] border-[1px] w-[350px] h-[50px] rounded-[15px] flex items-center pl-5 gap-3">
                            <i class="fa-solid fa-lock text-white"></i>
                            <input type="password" name="password"
                                placeholder="กรอกรหัสผ่าน"
                                required
                                class="bg-transparent outline-0 text-white w-[90%]">
                        </div>
                    </div>
                </div>

                <button type="submit"
                    class="bg-[#1B3563] w-[350px] h-[50px] rounded-[15px] text-white">
                    เข้าสู่ระบบ
                </button>

            </form>

            <!-- three -->
            <div class="flex gap-[2px] items-center">
                <div class="bg-[#4BA3E3]/25 w-[70px] h-[1px]"></div>
                <div class="bg-[#4BA3E3] w-[70px] h-[2px]"></div>
                <div class="bg-[#4BA3E3]/25 w-[70px] h-[1px]"></div>
            </div> 
        </div>
		<%  const currentYear = new Date().getFullYear() %>
        <p class="text-white text-[14px] z-30 mt-16">© <%= currentYear %> IT CORE STORAGE สงวนลิขสิทธิ์</p>
    </div>
</body>
</html>